<table class="table">
  <thead>
  <tr>
    <td>角色Id</td>
    <td>角色名称</td>
    <td>描述</td>
    <td>操作</td>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="role in roles track by $index">
    <td>{{role.ConceptId}}</td>
    <td>{{role.FriendlyNames[0]}}</td>
    <td>{{role.Descriptions[0]}}</td>
    <td>
      <div class="hidden-sm hidden-xs btn-group">
        <button class="btn btn-xs btn-success">
          <i class="ace-icon fa fa-check bigger-120"></i>
        </button>

        <button class="btn btn-xs btn-info">
          <i class="ace-icon fa fa-pencil bigger-120"></i>
        </button>

        <button class="btn btn-xs btn-danger">
          <i class="ace-icon fa fa-trash-o bigger-120"></i>
        </button>

        <button class="btn btn-xs btn-warning">
          <i class="ace-icon fa fa-flag bigger-120"></i>
        </button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
